body    {
  margin: 0;
  padding: 0;

  font-family: "Roboto", Arial, sans-serif;
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;
  color: #283136;

  background-color: #ffffff; 
}

.visually-hidden    {
  position: absolute;

  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;

  clip: rect(0 0 0 0);
  overflow: hidden;
}
  
a   {
  text-decoration: none;
}

.main-header      {
  background-color: #eeeeee;
}

.container  {
  width: 1200px;
  margin: 0 auto;
}

.container nav  {
  min-height: 115px;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
}

.site-navigation,
.user-navigation      {
  list-style: none;
  line-height: 30px;
  text-transform: uppercase;
}

.site-navigation    {
  margin: 0;
  padding: 0;
  display: flex;
  margin-bottom: 18px;
}

.site-navigation li    {
  margin-left: 25px;
  margin-right: 25px;
}

.user-navigation    {
  margin: 0;
  padding: 0;
  display: flex;
  margin-right: 20px;
  margin-bottom: 18px;
}

.main-logo      {
  margin-left: 20px
}

.site-navigation a,
.user-navigation a     {
  color: #000000;
}

.site-navigation-active      {
  border-bottom: 2px solid #fb565a;
  padding-bottom: 3px;
}

.site-navigation a:hover,
.user-navigation a:hover     {
  color: #fb565a;
}

.site-navigation a:active,
.user-navigation a:active     {
  color: rgba(0, 0, 0, 0.3);
}

.main-logo:active     {
  opacity: 0.3;
}

.banner-top     {
  background-color: #eeeeee;
  border-top: 1px solid transparent;
}

.banner-top h2    {
  color: #000000;
  font-size: 55px;
  line-height: 55px;
}
.columns  {
  display: flex;
} 

.left-column  {
  box-sizing: content-box;
  width: 420px;
  min-height: 430px;
  padding-left: 20px;
  padding-right: 20px;
  padding-top: 80px;
}

.slider   {
  width: 760px;
  height: auto;
  min-height: 430px;
  position: relative;
}

.slider img     {
  position: absolute;
  left: 32px;
  bottom: 0;
}

.variety    {
  width: 1160px;
  min-height: 508px;
  margin: 0 auto;
}

.variety-list   {
  margin: 0;
  padding: 0;
  width: 100%;
  min-height: 508px;
  list-style: none;
  display: flex;
  justify-content: space-between;
  border-bottom: 2px solid #eeeeee;
}

.variety-item    {
  width: 300px;
  min-height: 348px;
  margin: 0;
  padding: 0;
  margin-top: 80px;
  margin-bottom: 80px;
  display: flex;
  flex-direction: column;
}

.variety-item img   {
  order: -1;
}

.about    {
  width: 1160px;
  min-height: 529px;
  margin: 0 auto;
  border-bottom: 2px solid #eeeeee;
  display: flex;
  justify-content: space-between;
}

.about-left-column      {
  width: 660px;
  min-height: 375px;
  border: 0;
  margin: 0;
  margin-bottom: 80px;
}

.about-left-column h2    {
  color: #000000;
  font-size: 45px;
  line-height: 45px;
}

.about-left-column .about-list     {
  list-style: none;
}

.about-left-column h3    {
  color: #000000;
  font-size: 16px;
  line-height: 24px;
}

.about-right-column      {
  width: 360px;
  min-height: 420px;
  border: 0;
  margin: 0;
  margin-bottom: 80px;
}

.about-right-column figure     {
  border: 0;
  margin: 0;
  margin-top: 40px;
  margin-bottom: 52px;
}

.about-right-column figcaption    {
  color: #000000;
  text-transform: uppercase;
  font-weight: 700;
  font-size: 16px;
  line-height: 24px;
  margin-top: 40px;
  text-align: center;
}

.about-right-column-list      {
  margin: 0;
  padding 0;
  display: flex;
  justify-content: space-between;
}

.about-right-column-list span     {
  color: #000000;
  font-weight: 700;
  font-size: 45px;
  line-height: 10px;
}

.partners   {
  width: 1160px;
  min-height: 183px;
  border-bottom: 2px solid #eeeeee;
  margin-bottom: 83px;
}

.partners-list  {
  margin: 0;
  padding: 0;
  min-height: 183px;
  list-style: none;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-left: 32px;
  padding-right: 40px;
}

.partners-list a     {
  opacity: 0.2;
}

.partners-list a:hover     {
  opacity: 1;
}

.partners-list a:active     {
  opacity: 0.2;
}

.map      {
  position: relative;
  background-color: #eeeeee;
}

.map iframe  {
  position: relative;
  z-index: 2;
  border: none;
}

.map .address   {
  position: absolute;
  margin: 0;
  padding: 0;
  top: 0;
  left: 0;
  z-index: 1;
  line-height: 18px;
}

.map-label      {
  width: 318px;
  min-height: 308px;
  background-color: #ffffff;
  box-sizing: border-box;
  position: absolute;
  top: 56px;
  left: 140px;
  z-index: 3;
  border-radius: 2px;
  padding-top: 40px;
  padding-left: 50px;
  padding-right: 50px;
}

.map-label  h3      {
  color: #000000;
  text-transform: uppercase;
  font-size: 18px;
  line-height: 30px;
}

.button-red    {
  display: block;
  width: 160px;
  height: 50px;
  background-color: #fb565a;
  color: #ffffff;
  line-height: 50px;
  text-align: center;
  vertical-align: middle;
  text-transform: uppercase;
  border-radius: 3px;
}

.button-green    {
  display: block;
  width: 160px;
  height: 50px;
  background-color: #00ca74;
  color: #ffffff;
  line-height: 50px;
  text-align: center;
  vertical-align: middle;
  text-transform: uppercase;
  border-radius: 3px;
}

.button-yellow    {
  display: block;
  width: 160px;
  height: 50px;
  background-color: #efc84a;
  color: #ffffff;
  line-height: 50px;
  text-align: center;
  vertical-align: middle;
  text-transform: uppercase;
  border-radius: 3px;
}

.button-red:hover     {
  background-color: #e74246;
}

.button-green:hover     {
  background-color: #00bc6c;
}

.button-yellow:hover     {
  background-color: #eab534;
}

.button-red:active     {
  background-color: #d7373b;
  color: rgba(255, 255, 255, 0.3)
}

.button-green:active     {
  background-color: #00aa62;
  color: rgba(255, 255, 255, 0.3)
}

.button-yellow:active     {
  background-color: #e5a722;
  color: rgba(255, 255, 255, 0.3)
}

.slider-button     {
  width: 240px;
  height: 50px;
}

.catalog-button     {
  width: 200px;
  height: 50px;
}

.map-button     {
  width: 220px;
  height: 50px;
}

.feedback-button    {
  width: 260px;
  height: 50px;
}

.pagination     {
  position: absolute;
  left: 137px;
  bottom: 95px;
  width: 88px;
  height: 19px;
}

.pagination ul  {
  margin: 0;
  padding: 0;
  list-style: none;
  display: flex;
  justify-content: space-between;
}

.pagination-item      {
  display: block;
  width: 17px;
  height: 17px;
  border: 1px solid #ffffff;
  border-radius: 50%;
  background-color: #ffffff;
}

.variety-list     {
  list-style: none;
}

.variety-list h3    {
  text-transform: uppercase;
  color: #000000;
  font-size: 24px;
  line-height: 30px;
}

/* Стили страницы Catalog */
.catalog-banner     {
  background-color: #eeeeee;
  border-top: 1px solid transparent;
  box-sizing: border-box;
  height: 430px;
  padding-top: 110px;
  margin: 0 auto;
  text-align: center;
}

.catalog-banner h1      {
  font-size: 55px;
  line-height: 55px;
  color: #000000;
}

.catalog   {
  margin-left: 20px;
  margin-right: 20px;
  display: flex;
}

.filters-set      {
  display: block;
  width: 260px;
  margin-left: 20px;
  margin-right: 120px;
}

.filter fieldset      {
  border: none;
}
.filter legend      {
  font-size: 18px;
  line-height: 30px;
  text-transform: uppercase;
  font-weight: 700;
  color: #000000;
}

.filter ul      {
  list-style: none;
  line-height: 32px;
}

.filter-input + label      {
  color: #283136;
  opacity: 0.4;
}

.filter-input:hover + label,
.filter-input:focus + label       {
  color: #283136;
  opacity: 1;
}

.filter-input:disabled + label      {
  opacity: 0.1;
}

.button-grey      {
  display: block;
  width: 260px;
  height: 50px;
  background-color: #eeeeee;
  border-radius: 3px;
  border-color: transparent;
  text-transform: uppercase;
  font-size: 16px;
  line-height: 50px;
}      

.button-grey:hover     {
  background-color: #dfdfdf;
}

.button-grey:active     {
  background-color: #d5d5d5;
  opacity: 0.3;
  box-shadow: 0 -2px 0 0 #bfbfbf;
}

.catalog-main  {
  display: block;
  width: 800px;
}

.sort-field     {
  min-height: 133px;
  margin-left: 20px;
  margin-right: 20px;
  display: flex;
  align-items: center;
}

.sort-field p     {
  margin:0;
  padding: 0;
  display: block;
  width: 380px;
  font-size: 18px;
  line-height: 18px;
  text-transform: uppercase;
  font-weight: 700;
  color: #000000;
}

.sort-types   {
  display: flex;
  width: 360px;
  margin-left: 20px;
  justify-content: space-between;
}

.sort-type, .sort-direction    {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
}

.sort-type li   {
  margin-right: 20px;
}

.sort-direction     {
  width: 45px;
  display: flex;
  justify-content: space-between;
}

.sort-item      {
  font-size: 14px;
  line-height: 18px;
  text-transform: uppercase;
  font-weight: 400;
  color: #000000;
  opacity: 0.3;
}

.sort-item:hover      {
  opacity: 0.6;
}

.sort-item:active      {
  opacity: 1;
}

.sort-item-active     {
  color: rgba(0, 0, 0, 1);
  text-transform: uppercase;
  font-size: 14px;
  line-height: 18px;
}

.catalog-list     {
  min-width: 800px;
  margin: 0;
  padding: 0;
  display: flex;
  flex-wrap: wrap;
}

.page-container      {
  width: 360px;
  position: relative;
  display: flex;
  flex-direction: column;
  margin-left: 20px;
  margin-right: 20px;
  margin-bottom: 33px;
}

.page-header    {
  opacity: 0.1;
}

.page-container:hover .page-header      {
  opacity: 1;
}

.page-container:hover .popup-info      {
  display: block;
}

.popup-info     {
  box-sizing: border-box;
  width: 360px;
  min-height: 196px;
  position: absolute;
  bottom: 0;
  background-color: #eeeeee;
  text-align: center;
  padding: 35px 75px 44px;
  color: #666666;
  font-size: 16px;
  line-height: 18px;
  display: none;
}

.popup-info h3     {
  font-size: 16px;
  line-height: 16px;
  text-transform: uppercase;
  font-weight: 700;
  color: #000000;
}

.popup-info h3:hover     {
  color: #fb565a;
}

.popup-info h3:active     {
  color: #cacaca;
}

.catalog-pagination     {
  list-style: none;
}

.catalog-pagination     {
  list-style: none;
  padding: 0;
  margin: 0;
  margin-left: 20px;
  margin-top: 30px;
  margin-bottom: 63px;
  display: flex;
}

.catalog-pagination-item     {
  display: block;
  width: 50px;
  height: 50px;
  margin-right: 10px;
  font-size: 16px;
  line-height: 50px;
  text-transform: uppercase;
  color: #000000;
  text-align: center;
  background-color: #eeeeee;
}

.pagination-active    {
  width: 46px;
  height: 46px;
  line-height: 46px;
  background-color: #ffffff;
  border: 2px solid #eeeeee;
  pointer-events: none;
}

.catalog-pagination li:last-child a {
  width: 260px;
}

.catalog-pagination-item:hover:not(.pagination-active)     {
  background-color: #dfdfdf;
}

.catalog-pagination-item:active:not(.pagination-active)     {
  background-color: #d5d5d5;
  color: #a9a9a9;
  box-shadow: 0 -2px 0 0 #a9a9a9;
}

/*              */

.modal      {
  background-color: #ffffff;
  display: block;
}

.modal h2      {
  color: #000000;
  font-size: 45px;
  line-height: 45px;
}

.modal label    {
  color: #000000;
  font-size: 16px;
  line-height: 18px;
  font-weight: 700;
}

.input-field      {
  padding-left: 15px;
  font: inherit;
  color: #444444;
  background-color: #ffffff;
  border: 2px solid #e1e1e1;
}

.feedback-form::-webkit-input-placeholder     {
  color: #444444;
  font-size: 16px;
  line-height: 18px;
}
.feedback-form::-moz-placeholder     {
  color: #444444;
  font-size: 16px;
  line-height: 18px;
}
.feedback-form:-ms-input-placeholder     {
  color: #444444;
  font-size: 16px;
  line-height: 18px;
}

.feedback-form input:focus,
.feedback-form textarea:focus {
  border: 2px solid #000000;
}

.main-footer      {
  background-color: #ffffff;
  min-height: 217px;
  display: flex;
  align-items: center;
}

.main-footer ul     {
  margin: 0;
  padding: 0;
  list-style: none;
}

.main-footer-social   {
  margin-left: 20px;
  min-width: 260px;
  min-height: 80px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.main-footer-discount   {
  margin-left: 140px;
  margin-right: auto;
}

.main-footer-social a    {
  color: #ffffff;
  background-color: #e1e1e1;
  text-align: center;
  text-decoration: none;
}

.main-footer-social a:hover    {
  background-color: #e74246;
}

.main-footer-social a:active   {
  background-color: #d7373b;
  opacity: 0.3;
}

.main-footer  h3    {
  color: #000000;
  font-size: 36px;
  line-height: 36px;
}


